[2015-05-11 18:43] dcop7 opened #1 "Navigations rings ative search when not configured"
Do you use Xposed framework? No.

Your device: Nexus 4

Which ROM version are you using? Euphoria-OS-1.1-mako-20150428.zip

What kernel are you using - included in the ROM or from another source? Hellscore b75

What steps will reproduce the problem?
1. Set only the middle nagivation ring to screen off, leaving the left and right navigation not defined
2. Activate the navigation rings and release t

[2015-05-12 05:28] dexmc commented on #1
@dcop7  We can confirm this, but isn't this stock behavior? You swipe the empty area around the ring and it always opens Gsearch.

[2015-05-12 05:33] dexmc commented on #1
@dcop7  also the option does not say Disable, only says "None" which means it will default to stock behavior.

Also, if you want, you could go ahead and disable the rings. I think I'm closing this one, after Altaf shares his thoughts on this.

[2015-05-12 05:40] mitchelldavis44 commented on #1
Confirmed on stock 5.1.1, this is default behavior.  Stock behavior when swiping up from home button animates the Google "fab" and tells you it's going to open the search app.  Setting the other two rings to None is going to result in stock behavior, either set the other rings to something else or you will have to take your finger off the home button and don't swipe up.  +1, not a bug.

[2015-05-12 08:24] tarockx opened #2 "Headphones volume often resets to the "safe volume", apparently at random"
Do you use Xposed framework? NO

Your device: Nexus 4 (mako)

Which ROM version are you using? https://www.androidfilehost.com/?fid=23991606952593037

What kernel are you using? DEFAULT

What steps will reproduce the problem?
Seems to happen more or less at random :|

What is the expected result? What do you see instead?
I would expect the headphones volume to be remembered correctly, as it was in

[2015-05-12 15:03] droidkevlar opened #3 "Unlinking volume level issues"
Do you use Xposed framework? If yes, do not even bother reporting.
Uninstall Xposed(&reboot), check if the bug you're trying to report still
exists and then proceed. Otherwise,your report will be declared invalid.

No

Your device: Nexus 6 (Moto purchased)

Which ROM version are you using? (provide download link)
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1

[2015-05-12 15:12] dsmitty166 commented on #3
Confirmed.

Can any other devices test this please.

Only changing ring volume seems to link these, not notification

[2015-05-12 17:30] ghost commented on #3
Confirmed on my VZW Nexus 6.

[2015-05-12 17:56] droidkevlar opened #4 "ROM Updater says out of date, but is latest"
Do you use Xposed framework? No

Your device: Nexus 6 (Moto purchase)

Which ROM version are you using? (provide download link)
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150512.zip

What kernel are you using - included in the ROM or from another source? Stock kernel w/ ROM

What steps will reproduce the problem?
1. Dirty flash Euphoria

[2015-05-12 19:19] dsmitty166 commented on #4
Yeah I need to fix the ota center, since we are now using official/unofficial flags. I didn't get this in testing of course, but I couldn't test proper without the server. I'll look into it.

[2015-05-12 22:28] droidkevlar opened #5 "Ringer plays low, then goes to normal level"
Do you use Xposed framework? No

Your device: Nexus 6

Which ROM version are you using?
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150512.zip

What kernel are you using - included in the ROM or from another source?
Stock from ROM

What steps will reproduce the problem?
1. Have increasing ring volume disabled
2. Receive call or pick a ri

[2015-05-13 00:21] dsmitty166 commented on #5
Unfortuantly this is a bug in the n6.  Every single ROM should have this, with the exception of meanpop, however, he doesn't have any source code published and it isn't really a friendly way of implementing this.  Unless, you know of another AOSP ROM that has this working, I'm not sure it will be fixed right away.

[2015-05-13 00:21] dsmitty166 commented on #4
I have fixed this now, expect a new build shortly

[2015-05-13 00:27] #4 closed, assigned to nobody

[2015-05-13 04:46] droidkevlar commented on #5
Terminus worked and I believe AOSiP did as well. I ran Terminus for 2 days and I did not notice it doing it. Used AOSiP for about a day and dont rem having the issue either.

https://www.androidfilehost.com/?fid=23991606952600821
https://www.androidfilehost.com/?fid=23991606952601465

[2015-05-13 06:21] vded commented on #5
I second that. Especially short ringtones can't be heard, such as Facebook pop, Facebook messenger.

[2015-05-13 10:47] dexmc commented on #3
@dsmitty166  Confirmed on nexus4

[2015-05-13 10:51] dexmc commented on #2
Haven't noticed this yet. Will do some thorough testing

[2015-05-13 12:53] dcop7 commented on #1
In Euphoria 1 (5.0) it worked like I described that how it should work. Now, with Euphoria 1.1 (5.1.1), it changed. Why the change? That is why I think it is a bug.

But if I set a navigation ring to "none", it should be none, not the stock behavior. If I want to change the navigation ring to search, I set to search, not to none.

[2015-05-13 17:21] tuan2195 commented on #5
Clean flashed and problem persists, behavior is the same on stock Nexus 6 builds from Google, have not tested with other ROMs yet.

[2015-05-13 20:31] droidkevlar opened #6 "Ambient Display pulse's when disabled"
Do you use Xposed framework? No

Your device: Nexus 6

Which ROM version are you using?
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150512.zip

What kernel are you using - included in the ROM or from another source?
http://forum.xda-developers.com/nexus-6/development/kernel-fk-wake-gestures-t3060196
https://onedrive.live.com/?cid=c666ac2

[2015-05-14 10:32] mitchelldavis44 commented on #1
I don't ever remember it working the way you're describing.  Like I stated, it is supposed to open the google app, if you would like it to _not_ then that's more of a "feature" request and not a bug.  If you set it to none it's only implying that you are not setting another target and so it will revert back to using the Google app as it's target, this is the way Lollipop is written.

[2015-05-14 16:37] dexmc commented on #3
this is fixed thanks to a commit from cm. Tested working.

[2015-05-14 17:27] droidkevlar commented on #3
Is this on todays build or will it be pushed to next build?

[2015-05-14 17:28] droidkevlar commented on #5
Others have confirmed working as should be on Terminus, Meanpop and AOSiP...hopefully that helps.

[2015-05-14 19:07] aliminator opened #7 "Google now everywhere settings not stocking after reboot"
Do you use Xposed framework? No

Your device: Nexus 6

Which ROM version are you using?
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150514.zip

What kernel are you using - included in the ROM or from another source?
Included.

What steps will reproduce the problem?
1. Settings -> Language and Input -> Voice Input -> Enhanced Google Servi

[2015-05-14 21:27] dsmitty166 commented on #7
This would be an issue with the gapps you're using. Just tested it, enabled always on and rebooted. Its still on.

[2015-05-14 21:35] aliminator commented on #7
Can you please let me know which gapps you are using? Appreciate it!

[2015-05-14 22:14] dsmitty166 commented on #7
I run banks gapps only

[2015-05-15 00:17] aliminator commented on #7
Confirmed working with 5-14 build of rom + bank gapps 5-14 + clean flash. Thanks.

[2015-05-15 03:28] aliminator commented on #7
Spoke too soon. Its disabled again after a few restarts. Not sure what triggered it.

[2015-05-15 21:35] dsmitty166 commented on #7
I have been through countless flashes and reboots in the last few days and mine still works just fine.

Clean flash with banks

[2015-05-16 04:29] g2uzer commented on #7
Hey dsmitty, in using banks GappsL5-1-15 and have this issue as well. What version of gapps are you using ?

[2015-05-16 15:04] pantmunu opened #8 "phone rebooted"
So I changed the DPI to 520 and let the ohn reboot.  After few minutes the had a sod followed by a reboot.  I'm all stock.  Nexus 6 .

[2015-05-16 15:05] pantmunu commented on #8
How do I post the last kmesg here.  Its quite large.

[2015-05-16 15:09] pantmunu commented on #8
0:msm_cpu_pm_enter_sleep mode:3 during suspend
[ 6548.310521] Resume caused by IRQ 430, mxhci_hsic_wakeup
[ 6548.310521] Resume caused by IRQ 200, qcom,smd-rpm
[ 6548.310521] Resume caused by IRQ 203, fc4281d0.qcom,mpm
[ 6548.310521] Resume caused by IRQ 240, msmgpio
[ 6548.310521] Suspended for 0.000 seconds
[ 6548.311586] Enabling non-boot CPUs ...
[ 6548.313760] Renew affinity for 1455 processe

[2015-05-17 09:31] vded commented on #5
Today was flashing day. Flashed Terminus and AOSiP and in both roms the volume level was at 100% from the first second. Double checked it with Facebook, Messenger, and Gmail.
Please, make it the same in Euphoria. After the above roms came back to Euphoria because it's the one I like the most. The only thing is missing is the sound level at 100% from the start. I missed many notifications because o

[2015-05-17 10:12] dexmc commented on #3
next build.

[2015-05-17 10:12] #3 closed, assigned to Altaf-Mahdi

[2015-05-17 10:13] dexmc commented on #2
this doesnt happen on mine.

[2015-05-17 10:17] dexmc commented on #8
please use pastebin next time. There are tons of text upload sites.

also, did you try reproducing it ? If this is a one off, im closing this.

[2015-05-17 10:20] dexmc commented on #6
works fine on mako.

@dsmitty166
Dave, can you take a look

[2015-05-17 10:22] #1 closed, assigned to Altaf-Mahdi

[2015-05-17 10:22] #2 closed, assigned to dexmc

[2015-05-17 12:56] dsmitty166 commented on #5
Could you please ask Terminus and AOSiP devs where the commit is?  I've looked through their files and nothing stood out to me!  Thanks

[2015-05-17 12:58] dsmitty166 commented on #6
So you're saying that ambient display works when it's disabled?  Your title and issue steps conflict with each other

[2015-05-17 13:00] dsmitty166 commented on #7
I'm on an old version of Gapps, from April sometime. Again, it's still enabled here.  I'm closing this, as it's 100% Gapps related.  If they new banks gapps don't work, then try some others

[2015-05-17 13:00] #7 closed, assigned to nobody

[2015-05-17 13:01] dsmitty166 commented on #8
Agree Dex, If it can't be reproduced, there's not much I can do

[2015-05-17 15:26] dexmc commented on #8
No worries. Just needed you to look at the log. Let's see if he can reproduce, or I'll go ahead and close it

[2015-05-17 15:28] pantmunu commented on #8
Sorry guys ..for the delay.  No.  Actually.  After that reboot .. I haven't been able to reproduce it.  Prolly something wrong on the user end. If it happens again .. I'll come fully prepared.
Thanks.

[2015-05-17 17:34] #8 closed, assigned to dsmitty166

[2015-05-17 18:50] vded commented on #5
Maybe it's easier for you to ask for some details?
I'm just a user and I don't think they will give me some answers, and if they do I'm pretty sure I wouldn't understand.

[2015-05-18 04:28] droidkevlar commented on #6
No. Im saying when you have pulse disabled, it still pulses.

[2015-05-18 04:29] droidkevlar commented on #5
I will reach out to the AOSiP team and see if they can help out with this.

[2015-05-18 14:46] vded commented on #5
Thank you droidkevlar. Please keep us updated as soon as you have some news.

[2015-05-18 14:53] droidkevlar commented on #5
I talked to Kris from AOSiP and she said they dont have the commit for increasing ringer, so that might be an issue. I mentioned that it is a stock N6 issue and she didnt have that issue while on stock. @dsmitty166 maybe try removing the commit for increasing ringer and see if that resolves? Only other thing I know is smali edit to resolve, but I know you dont want to do that. Sorry couldnt be mor

[2015-05-18 15:06] tuan2195 commented on #5
It has been a long while since I used N6 on stock so I would like to withdraw my comments about it being a bug on the N6 stock. A side note is that Benzo ROM doesn't seem to have this problem as well, while the latest LiquidSmooth and BlissPop do. I am trying to spot a pattern but haven't seen any.

[2015-05-18 16:47] droidkevlar commented on #5
@tuan2195 does Benzo, LS, or Blisspop have increasing ringer option? Trying to see if that is the culprit.

[2015-05-18 17:25] tuan2195 commented on #5
@droidkevlar I'm currently on Benzo. It has the option but adjusting it doesn't do anything. Even setting starting volume to minimum/maximum and the fade time to either ends, the rings will always come up loud from the first second.

[2015-05-19 09:25] GCgpx opened #9 "Change Profile Pic of user account"
Can't change Profile IMG of user.

[2015-05-19 11:45] GCgpx opened #10 "Double Tap To wake up"
http://puu.sh/hSSlo/a766e39112.png
I've Stock Kernel

[2015-05-19 11:49] mitchelldavis44 commented on #10
First of all, we can't help you unless you follow the proper procedure.  You need to fill this out:

Do you use Xposed framework? If yes, do not even bother reporting.
Uninstall Xposed(&reboot), check if the bug you're trying to report still
exists and then proceed. Otherwise,your report will be declared invalid.

Your device:

Which ROM version are you using? (provide download link)

What kernel

[2015-05-19 11:50] mitchelldavis44 commented on #9
Yes you can, you need to go to Contacts, click on ME then change the picture.

[2015-05-19 17:52] #10 closed, assigned to nobody

[2015-05-19 17:57] GCgpx commented on #9
Thanks, but It aren't more usefull to fix for change by "user"? It's only a my opinion, don't kill me. Anyway thanks very much!

[2015-05-19 17:57] #9 closed, assigned to nobody

[2015-05-20 07:23] hemetz opened #11 "USB OTG dont work"
Your device: Nexus 6 (shamu)

Which ROM version are you using? (provide download link)
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150512.zip

What kernel are you using - included in the ROM or from another source?
(provide xda/download link)
stock from ROM

What steps will reproduce the problem?
1. open the storage settings
2. plugin OT

[2015-05-21 01:16] dsmitty166 commented on #11
I'm compiling a test build right now

[2015-05-21 04:26] hemetz commented on #11
Greate, if you want I could test it.
Am 21.05.2015 3:16 vorm. schrieb "David Smit" notifications@github.com:

[2015-05-22 02:27] hemetz commented on #11
Hi David,

mounting an otg works fine now.

At my first try I got an java io exception. I grabbed the logcat if you
want take a look, but after disconnect and reconnect the stick, it works
flawless.
Navigate through folders, create folders/files and delete them, works as
expected.

Thank you
Stefan

Greate, if you want I could test it.
Am 21.05.2015 3:16 vorm. schrieb "David Smit" notifications@gi

[2015-05-22 18:20] tungmeister commented on #5
This issue also affects switching to loud speaker when on a call

[2015-05-23 05:18] #11 closed, assigned to dsmitty166

[2015-05-25 04:50] M0rtadha opened #12 "All phone sounds are routed to the earpiece"
Do you use Xposed framework?No
Your device: Oneplus One
Which ROM version are you using? 05032015
What kernel are you using - included in the ROM or from another source?
The the one from euphoria: 3.4.67-Bacon Euphoria-OS@OnePlus-One#3

Issue:
Occasionally all the phone's sounds (music playing, notification sounds, general system sounds - like the beep turning the volume up, games sounds, etc) are

[2015-05-25 18:42] turnoffer opened #13 ""Charge only" setting doesn't works"
Nexus 4 (mako)
ROM version: [Euphoria-OS-1.1-mako-OFFICIAL-20150514](https://www.androidfilehost.com/?fid=23991606952603791), downloaded from [XDA](http://forum.xda-developers.com/nexus-4/development/rom-euphoria-os-1-0-t2997338)

Using kernel included in the ROM.

What steps will reproduce the problem?
1. Entering Settings - Storage - USB computer connection;
2. Turn on "Charge only", "MTP" autom

[2015-05-26 03:45] dexmc commented on #13
Acknowledged. Thanks for the report.

[2015-05-30 03:55] teeseeuu commented on #12
I see this issue on several Roms. I believe it to be hardware related. Seems to be linked to proximity sensor detecting the near state and routing audio through earpiece. Do you use a screen protector or case? Also, does it happen on other Roms for you? Get a sensor monitoring app and see if when in that state, proximity is stuck on near.

[2015-05-30 04:08] M0rtadha commented on #12
I didn't have this problem with stock cyongenmod 11s, it all started when I updated to 12s, therefore I tried other ROMs looking for a fix; this issues presented in all lollipop ROMs I tried like Euphoria, cyongenmod 12 nightly, Oxygen and now ParanoidAndroid.
I'm not using any screen or phone protector, and my phone usage didn't change.
I'll install now a sensor monitoring app and I'll check it o

[2015-05-30 14:24] teeseeuu commented on #12
Thanks for the extra info The forums are mixed on hardware/software. This leads me to believe the issue is on the interface between the two. Will keep searching and testing.

[2015-05-30 23:39] tuan2195 commented on #5
Is the issues fixed now? I just flashed Chroma the other day and the issue is no longer there as well. Also the issue is present in the Android M Preview, but since we don't have the source code it's just FYI.

[2015-06-01 08:05] vded commented on #5
Nope, not fixed yet. Tried Benzo rom, notifications sound at 100% from first second. Although no other rom is so stable such as Euphoria. It's the only drawback this bug.

[2015-06-02 18:07] eurochild-dps opened #14 "No title in battery stats item"
nexus 4 latest official build

![screenshot_2015-06-02-21-04-29](https://cloud.githubusercontent.com/assets/7645326/7943136/558aa4f2-096b-11e5-9856-ee7cc94a44ee.png)

![screenshot_2015-06-02-21-05-06](https://cloud.githubusercontent.com/assets/7645326/7943135/558a1faa-096b-11e5-9fc4-b6ffcd5c62f4.png)

[2015-06-02 18:15] eurochild-dps opened #15 "Fat side scrollbars in system and apps"
I remember Altaf telling me that a commit causes this.

![screenshot_2015-06-02-21-12-20](https://cloud.githubusercontent.com/assets/7645326/7943301/6cde8db6-096c-11e5-909e-ed6d6b506039.png)

![screenshot_2015-06-02-21-12-41](https://cloud.githubusercontent.com/assets/7645326/7943302/6ce37fb0-096c-11e5-88b0-ee9aed967fc9.png)

[2015-06-03 09:44] dexmc commented on #15
confirmed. @Altaf-Mahdi can you take a look please

[2015-06-03 09:44] dexmc commented on #14
confirmed. @Altaf-Mahdi can you take a look please

[2015-06-03 10:01] Altaf-Mahdi commented on #15
I'm sure this is a 5.1 thing, anyone tested this on stock 5.1?

[2015-06-03 10:04] Altaf-Mahdi commented on #14
I had this too but its gone now, I'm sure its cyanogenmod.platform app

[2015-06-04 06:52] turnoffer commented on #13
I repeated all steps above on updated 1.1-mako-OFFICIAL-20150528 (which removed xposed as well) with same result. Just for info.

[2015-06-04 18:22] eurochild-dps commented on #15
@Altaf-Mahdi  today i had the chance to see a stock 5.1.1 mako and the issue is not there.

[2015-06-05 05:58] vded commented on #5
Tried some other ROMs that didn't have this annoying bug.
These are: crDroid, CyanideL, SOKP
Maybe you can contact the developers of these?

[2015-06-05 17:55] eurochild-dps commented on #14
![screenshot_2015-06-05-20-51-41](https://cloud.githubusercontent.com/assets/7645326/8011845/25879f24-0bc5-11e5-9b4c-7f713b04bba9.png)

![screenshot_2015-06-05-20-52-07](https://cloud.githubusercontent.com/assets/7645326/8011846/2589da1e-0bc5-11e5-8ff9-2854bf8859dc.png)

![screenshot_2015-06-05-20-52-31](https://cloud.githubusercontent.com/assets/7645326/8011847/258c7d32-0bc5-11e5-8264-deff6af7e54

[2015-06-07 08:31] dexmc commented on #14
@Altaf-Mahdi more instances of this bug. http://forum.xda-developers.com/showpost.php?p=61211421&postcount=1620
http://forum.xda-developers.com/showpost.php?p=61197287&postcount=1607

[2015-06-07 23:56] ghost opened #16 "Bluetooth toggle causing setting force closed"
Do you use Xposed framework? If yes, do not even bother reporting.
Uninstall Xposed(&reboot), check if the bug you're trying to report still
exists and then proceed. Otherwise,your report will be declared invalid.

Your device: Nexus 5

Which ROM version are you using? Latest Euphoria 03/06/2015

What kernel are you using - included in the ROM or from another source?
Provided kernel

What steps wi

[2015-06-09 07:26] GauthamYerroju commented on #16
Logcat here:
https://drive.google.com/file/d/0B8ZPEMm5hk58Zl9hSGFab2Q2TEZEUS1fZEhWSVZGVU02RUlJ/view?usp=sharing

[2015-06-10 13:23] andrerodrigues86 opened #17 "system UI crashes Nexus 4"
Sometimes, when double touching to wake up device, I get sistem UI crash message. This only seems to happen when battery saver is enabled. It doesnt always happen.
Clean install, latest build. No exposed.

6-10 14:00:58.871 E/WifiStateMachine(560): WifiStateMachine CMD_START_SCAN source -2 txSuccessRate=0,75 rxSuccessRate=0,49 targetRoamBSSID=any RSSI=-49
06-10 14:01:05.333 V/WindowManager(560): A

[2015-06-10 13:27] andrerodrigues86 commented on #17
Logcat here:
https://drive.google.com/open?id=0B99H_OcSwaU3eklsekdpc2ZSZkk&authuser=0

[2015-06-11 16:03] M0rtadha commented on #12
I checked few proximity apps, and all of it shows me the same results which is 0.0000 and it's not changing, even though as I mentioned I'm not using cover or any screen protector. I'll search for Oxygen Modem firmware and install it, as I didn't have any of this issues when I was using oxygen.
I'll flash it over Euphoria  and report back if anything changed.

[2015-06-14 09:28] arvind-gr opened #18 "QS Task manager bug"
After Opening task manager, I swipe from bottom to exit it. But next time I open Notification, task manger comes open. Only way to exit it is, I need to press QS icon to exit it. Pressing back is not option there. Consider fixing it...

Device details.,
Euphoria Mako latest 13062015 built with Quanto kernel

[2015-06-14 12:16] M0rtadha commented on #12
Reporting back:

I downloaded Full-oxygen-04-04-15-Bacon-modem-flashable.zip from one of the threads in XDA (http://forum.xda-developers.com/oneplus-one/development/radio-updated-modem-radio-files-oxygen-t3072516) and it didn't workout, like other modems I tried in a search for a fix, but after further research I read that flashing the modem using TWRP recovery doesn't really flash all files prope

[2015-06-14 18:13] Altaf-Mahdi commented on #14
This should fix the issue https://github.com/Euphoria-OS/android_packages_apps_Settings/commit/b0b74b4e53e7b1f189714885d6bfc988788e39c4

[2015-06-16 07:54] M0rtadha commented on #12
Nope,  I got the bug today after 3 days of complete normal behavior.
The bug report files is attached in the link below :
https://drive.google.com/folder/d/0Bwhpcrix4Wf-NmFoUFdfSTBvQ2M/edit

[2015-06-16 16:07] dexmc commented on #18
its not a bug. its a feature!
There just isnt an option to close it properly. Its being worked on.

[2015-06-16 16:09] dexmc commented on #17
@andrerodrigues86 can you reproduce this all the time?

[2015-06-16 19:38] andrerodrigues86 commented on #17
@dexmc Actually, no. I'm using the phone as usual and everything is working great. When battery reaches 15%, battery saver activates automatically. I just take the phone out of my pocket, double tap to wake and I see the system Ui error message. If I lock it and unlock it doesn't happen...

[2015-06-16 22:18] eurochild-dps opened #19 "GApps dont get removed from data (downloaded) when updated gapps package is flashed"
My post on xda in the TK GApps thread
http://forum.xda-developers.com/android/help/qa-tk-gapps-help-discussion-thread-t3116316/page15

tested on clean installations both on cm and euphoria roms on nexus4
gapps that were updated dont get removed from data as they should after flashing the last gapps package
tried with both stock and nano modular packages

the devs answer:
"The post install app clea

[2015-06-17 04:36] dexmc opened #20 "'User' options hidden in the notification drawer when TaskManager is open"
Your device: Nexus 4

What steps will reproduce the problem?
In the notification drawer:
1. Hit the TaskManager button.
2. Now hit your profile picture icon next to the Settings icon
3. 'User' options are hidden beneath TM.
- Opening this issue here so we don't forget about it.

[2015-06-17 04:38] dexmc commented on #17
@andrerodrigues86 ok.
- Does this happen on the newest build I released a few days ago?
- Did you try a clean flash with the new build?

[2015-06-17 04:42] mitchelldavis44 commented on #16
@thegwiz I'm not able to reproduce this, are you still having this issue after a clean flash with the newest build released today?

[2015-06-17 08:18] GauthamYerroju commented on #16
@mitchelldavis44 sure, I will try a clean flash and report back in a day or two. Thanks very much for looking into this!

Also, by today's build, you mean this, right?
https://plus.google.com/117421397767192393992/posts/B52k6iK4vkG

EDIT:
Is it OK if I test it as a secondary ROM in MultiRom? Just curious if that makes any difference. If you prefer I will clean flash as a primary rom, so please do

[2015-06-17 08:22] mitchelldavis44 commented on #16
@thegwiz No, its located here https://plus.google.com/110105349583610522975/posts/KsjeTJVQMZy the one you posted was for mako. It shouldn't matter if you test in multirom or not.

[2015-06-17 09:04] andrerodrigues86 commented on #17
@dexmc Yes and yes. I can try and get you some more information. Just tell me what you need.

[2015-06-19 07:40] eurochild-dps commented on #19
and another reply from TKruzze
http://forum.xda-developers.com/showpost.php?p=61427497&postcount=241

"As @osm0sis and a few others have pointed out before, it's a function of the Android OS to remove the app versions that you have updated from the Play Store (or sideloaded on your device) once an updated version has been installed in the system partition (ie GApps). If this is no longer working a

[2015-06-20 12:17] fonz93 opened #21 "Trying to delete a file using the stock Document app results in an error"
What steps will reproduce the problem?
Open the Document app:
1. Try to delete a picture or file, it will output an error

Just tried on both Nexus 4 and Moto G (falcon), same result.

[2015-06-21 14:06] siddharthbandhu opened #22 "Airplane mode does not get disabled after a reboot."
_Device_: Nexus 4

_ROM version_: Euphoria-OS-1.1-mako-OFFICIAL-20150613 (https://www.androidfilehost.com/?fid=24052804347759350)

_Kernel_: Stock kernel.

_Steps to reproduce the problem_:
1. Long press power button and power menu should appear.
2. Press on Airplane Mode toggle.
3. Reboot your phone by long pressing power button and rebooting.
4. Once it reboots, go to the power menu and try to d

[2015-06-23 07:01] ghost commented on #16
Hi Mitch,

I have uploaded the screen recording video for FC. (latest ROM, inbulit kernel, clean flash)

Thanks for looking into it.

https://plus.google.com/103884759383887359177/posts/HJNPPBC4QNd

[2015-06-24 15:04] slumdog2755 opened #23 "Sleep of death"
Do you use Xposed framework? No

Device: LGG3 D855 32Go

ROM version: Euphoria-OS-1.1-d855-OFFICIAL-20150623.zip (https://www.androidfilehost.com/?fid=24052804347764077)

Kernel: Stock kernel (3.4.108)

Steps to reproduce the problem:
I have no way to reproduce this bug , it occurs without apparent reason and I do not identify in what situations it happens.

Expected result: .

my phone work ;p

i

[2015-06-24 15:06] dsmitty166 commented on #23
You need to do a clean flash before I will look into this

[2015-06-25 04:33] dexmc commented on #21
I can delete stuff from internal storage, but not from under  "Images" though.

[2015-06-26 05:32] M0rtadha commented on #12
Any new update regarding the issue?
I've been having also take week without this issue and today it occurred, this is report files form after it happened I uploaded it:
https://drive.google.com/folder/d/0Bwhpcrix4Wf-YzhnakxQQS1OVkU/edit

Thanks

[2015-06-26 10:27] snehasishj0 opened #24 "Not Deleting Frequent Contact"
Device: Nexus 5

ROM version: Euphoria-OS-1.1-hammerhead-OFFICIAL-20150616

Kernel: Stock kernel.

Steps to reproduce the problem:
1. Remove any frequent contact from frequent contact list.
2. Open Contact list and call any contact.

Observed result: After call, I observed that frequent contacts which I have deleted, restored in frequent contact list.

[2015-06-27 04:45] mitchelldavis44 commented on #24
I'm confused as to what you're saying, are you meaning that if you swipe away the last called contact and then call another contact the first contact you called is in the last called contact area again?  And just to get out of the way, did you clean flash and are you using xposed?

[2015-06-27 06:11] snehasishj0 commented on #24
No Mitchell, I am not using xposed and I did clean flash. What I am telling is about frequent contact tiles, not last call contact.  You delete one frequent contact tiles and then dial any other number from contact list. Sorry for confusion. I have attached one dialer image for your understanding, though it is not my dialer screenshot.
Thanks for replying.
![unnamed](https://cloud.githubuserconten

[2015-06-29 16:58] ecydiacruz opened #25 "Apps disappear from app drawer"
After a certain number of apps installed (700+) my apps disappear from the app drawer.  I know its not a specific app because I've tried installing and uninstalling a different set each time but it seems after a certain threshold which I can't pinpoint they all disappear from the app drawer.  The same bug happens no matter what build im running. Im currently running latest build on Nexus 6.

[2015-06-30 03:06] dsmitty166 commented on #25
Not really sure how to even respond to this.

None of us have no way to replicate this.  We don't have close to that amount of apps.

Do you think 700+ is a bit excessive?

[2015-06-30 03:16] #25 closed, assigned to nobody

[2015-06-30 15:30] ecydiacruz commented on #25
Not when you have 4 kids who all have their own tastes in apps.

 I can upload titanium backups for someone brave enough to tackle this issue.

[2015-06-30 16:55] eurochild-dps opened #26 "System profiles triggering broken on latest mako build"
both with the built-in wifi triggering and also causing a crash in a plugin app called "cm profiles" i use in tasker to activate profiles
- tested on both dirty and clean flash

[2015-06-30 16:56] dexmc commented on #17
@andrerodrigues86  try the new build and let me know

[2015-06-30 17:00] dexmc commented on #17
@andrerodrigues86 oh if you see the crash again, get me a full log, and share it on pastebin

[2015-06-30 17:01] dexmc commented on #26
Logcat please

[2015-06-30 17:04] dexmc commented on #26
@Altaf-Mahdi Its probably the new cmsdk profile commits. Can you take a look

[2015-06-30 18:58] eurochild-dps commented on #26
https://www.dropbox.com/s/drfp86ubcetxt9c/log-builtin-trigger.txt?dl=0
https://www.dropbox.com/s/3f6l15xnhvregm1/log-tasker.txt?dl=0

[2015-06-30 22:52] cap67 commented on #26
Same in 06.30 shamu build, wifi trigger won't work.

[2015-07-01 05:43] krugdenis opened #27 "Navigation ring trigger is not hiding in immersive mode"
Do you use Xposed framework? If yes, do not even bother reporting.
 Xposed is not installed

Your device: hammerhead

Which ROM version are you using? (provide download link)
https://www.androidfilehost.com/?fid=24052804347767060
What kernel are you using - included in the ROM or from another source?
Included in the rom

What steps will reproduce the problem?
1. Open fullscreen game or app
2. Swip

[2015-07-01 05:49] krugdenis opened #28 "Option to hide search bar on the recents/multitasking menu is not working"
Do you use Xposed framework? If yes, do not even bother reporting.
Xposed is not installed

Your device: hammerhead

Which ROM version are you using? (provide download link)
https://www.androidfilehost.com/?fid=24052804347767060
What kernel are you using - included in the ROM or from another source?
Included in the rom

What steps will reproduce the problem?
1. Open settings-multitasking and selec

[2015-07-01 08:14] mitchelldavis44 commented on #28
Confirmed on hammerhead.

[2015-07-01 08:39] eurochild-dps commented on #26
this might be the solution idk
http://review.cyanogenmod.org/#/c/102184/

[2015-07-01 15:02] dexmc commented on #28
its broken on mako too.

[2015-07-01 15:51] YassGo opened #29 "Bootanimations don't apply since last build"
Do you use Xposed framework?
No

Your device: Hammerhead

Which ROM version are you using?
https://www.androidfilehost.com/?fid=24052804347767060

What kernel are you using - included in the ROM or from another source?
Stock Kernel and Code Blue (both have the issue)

What steps will reproduce the problem?
1. Go to Themes app
2. Apply bootanimation from another theme
3. Reboot

What is the expecte

[2015-07-01 16:56] ecydiacruz commented on #25
Why close the issue?  I've searched Google through an through and still
can't find a solution.  I have no where else to turn too.
On Jun 29, 2015 11:16 PM, "David Smit" notifications@github.com wrote:

[2015-07-01 17:24] dsmitty166 commented on #25
Have you tried a different launcher? Does this happen on stock?

Without a log or a way to reproduce it to get a log, there's very little hope.

If you want me to be really honest with you, this is a one off case. I don't know of anyone else who would run into this issue. There's a problem when each kid needs 100+ DIFFERENT apps. Not to be a dick, but you can't honestly expect anyone to honestly u

[2015-07-01 22:01] ecydiacruz commented on #25
It's every launcher including stock and I will be happy to provide
reproduce the issue and supply you or anybody with before and after logs as
well as a list of installed apps and/or a zip of my titanium backups for
anyone who's willing to try.

By the way I've tried doing a clean install on numerous builds.  Frankly, I
think this is a larger issue at hand with lollypop which Google doesn't
want t

[2015-07-01 22:29] ghost opened #30 "Clock timer ring but didn't disapear from status bar"
Hi all,
Little problem on Euphoria latest on OnePlus One : every lunch I start timer for 55 mins (pause countdown). When it rang, I click on stop button. But in status bar I still have clock icon & new options (from CM12.1 nightlies I think) "Add 1 more minute" "Stop". When I click both, nothing. No adding & not stopping (already stopped!), I can't kill the status icon even if I go in clock option

[2015-07-01 22:51] dsmitty166 commented on #25
So this happens on stock ROM too?

[2015-07-01 23:34] ecydiacruz commented on #25
I will make a nandroid back up of euphoria and try tonight.
On Jul 1, 2015 6:51 PM, "David Smit" notifications@github.com wrote:

[2015-07-02 07:05] crian opened #31 "Bootanimation not changing if choose one from a theme on Nexus 5."
The bootanimation stays default one although I took a bootanimation from a theme.

[2015-07-02 09:06] YassGo commented on #31
Issue already opened #29

[2015-07-02 09:37] andrerodrigues86 commented on #17
Hey! I'm on latest build, clean install. So far so good. I haven't configured everything yet (I use system profiles). I'll let you know if anything happens!

[2015-07-02 16:51] #31 closed, assigned to nobody

[2015-07-02 16:53] dexmc commented on #30
Is it the same for alarms too?

[2015-07-02 16:56] #18 closed, assigned to nobody

[2015-07-02 17:24] snehasishj0 commented on #24
I checked with latest build, Euphoria 1.1-hammerhead-official-20150630. Issue still persists. Did you guys understand the problem?

[2015-07-02 20:39] Altaf-Mahdi commented on #26
@eurochild-dps thanks that is the fix, I'll be pushing it soon.

[2015-07-03 16:14] Altaf-Mahdi commented on #28
Fixed https://github.com/Euphoria-OS/android_packages_apps_Settings/commit/4e4e356db2bf290544a5a89176ef8ca4d467540e

[2015-07-03 16:14] #28 closed, assigned to nobody

[2015-07-03 16:14] Altaf-Mahdi commented on #26
Fixed https://github.com/Euphoria-OS-Legacy/cm_platform_sdk/commit/b168822537ea9d5ba8a6ed8c3647d707b7efe41c

[2015-07-03 16:14] #26 closed, assigned to nobody

[2015-07-03 16:16] Altaf-Mahdi commented on #23
@777jon any input on this?

[2015-07-03 16:30] Altaf-Mahdi commented on #22
Tested this on mako and flo and it only seems to be mako that has this problem which makes me think its an aosp issue.

[2015-07-03 16:56] Altaf-Mahdi commented on #17
Fixed https://github.com/Euphoria-OS/android_frameworks_base/commit/0112f1a93c05c4c21ca46fba2843e445e6ce489a

[2015-07-03 16:56] #17 closed, assigned to nobody

[2015-07-03 19:18] jcruz commented on #23
I do not experience this issue on my end. @slumdog2755, I recommend a clean install. If you still encounter this problem I need some logs.

[2015-07-03 20:02] Altaf-Mahdi commented on #15
@eurochild-dps did you test titanium backup on stock 5.1 because those fat bars means the dev enabled fast scroll in the app, the reason you don't see this in stock 5.1 manage apps screen is because Google didn't enable fast scroll.

We could easily fix this issue by reverting https://github.com/Euphoria-OS/android_packages_apps_Settings/commit/3dde2bbd28d44780e352d03ed1d826d1ab440ecd but that wou

[2015-07-03 20:10] #14 closed, assigned to Altaf-Mahdi

[2015-07-03 20:11] Altaf-Mahdi commented on #23
Thanks @777jon I'm going to close this for now.

[2015-07-03 20:11] #23 closed, assigned to nobody

[2015-07-03 20:14] Altaf-Mahdi commented on #24
It restores itself because its still a frequent contact and you just called it. Unless you can confirm this doesn't happen in stock I'm closing this for now.

[2015-07-03 20:14] #24 closed, assigned to nobody

[2015-07-03 22:13] Altaf-Mahdi commented on #13
Fixed http://eosgerrit.ddns.net:51250/#/c/6139/

[2015-07-03 22:13] #13 closed, assigned to Altaf-Mahdi

[2015-07-04 15:46] chenshaoju opened #32 "msm_iommu: Unexpected IOMMU page fault!"
Sorry for my English,This issue look's like memory leak or something else.

Do you use Xposed framework? If yes, do not even bother reporting.
Uninstall Xposed(&reboot), check if the bug you're trying to report still
exists and then proceed. Otherwise,your report will be declared invalid.
No,I'm Not install Xposed.

Your device:
Google Nexus 4 16GB

Which ROM version are you using? (provide downlo

[2015-07-06 17:44] dexmc commented on #32
1. The phone is 3 years old.
2. Stock android isn't perfect.
3. We do not have time to look at bugs which have a "small chance" of occurring. Priorities, you know.
4. We seldom touch anything related to media playback. If this is really an issue, it has to happen on stock android and/or any other rom out there too.

I use MX player and haven't seen a reboot in like ever.

[2015-07-06 17:46] #32 closed, assigned to nobody

[2015-07-07 01:25] chenshaoju commented on #32
Sad...But thanks anyway.  :)

[2015-07-07 09:53] snehasishj0 commented on #24
No Altaf, I am deleting XYZ from frequent contact tiles and calling ABC which I choose from contact list. And XYZ back in frequent contact tiles. It is working perfectly in stock. If you are deleting XYZ from frequent contact tiles and again calling XYZ, contact should restore to frequent contact. But What if you are not calling XYZ? I think it is a minor one, but it is a issue. Thanks for replyin

[2015-07-07 10:18] eurochild-dps commented on #15
@Altaf-Mahdi I think its ok that way. better than those fat bars

[2015-07-07 13:43] mkomko opened #33 "Area behind navbar unresponsive"
Do you use Xposed framework? No

Your device: Mako

Which ROM version are you using?
Euphoria-OS-1.1-mako-OFFICIAL-20150630
https://www.androidfilehost.com/?fid=24052804347766950

What kernel are you using - included in the ROM or from another source?
hells-Core (hC-b80-L)
http://forum.xda-developers.com/nexus-4/general/qa-kernel-hells-core-kitkat-b45-stable-t2495373

What steps will reproduce the

[2015-07-07 13:54] mkomko opened #34 "hells-Core kernel settings from init.d script not active"
Do you use Xposed framework? No

Your device: Mako

Which ROM version are you using?
Euphoria-OS-1.1-mako-OFFICIAL-20150630
https://www.androidfilehost.com/?fid=24052804347766950

What kernel are you using - included in the ROM or from another source?
hells-Core (hC-b80-L)
http://forum.xda-developers.com/nexus-4/general/qa-kernel-hells-core-kitkat-b45-stable-t2495373

What steps will reproduce the

[2015-07-07 19:39] eurochild-dps commented on #34
confirmed, i noticed that long time ago, discussed it with dexter.
only way i found (and use) is to install the app "universal init.d" that runs every script that exists in init.d on boot and that way it works.

what is really strange is that all other settings on the 00confg from hellscore are applied except the governor

[2015-07-08 06:22] mkomko commented on #33
Also see this post, other people have the same problem during the first setup of the device:
http://forum.xda-developers.com/google-nexus-5/development/rom-euphoria-os-1-0-t2997323/post61754877#post61754877

[2015-07-08 07:57] krugdenis commented on #33
It's the same issue as I've posted https://github.com/Euphoria-OS/Bug-tracker/issues/27

[2015-07-17 10:27] tarockx opened #35 "Swiping from the bottom triggers navigation rings even if in landscape mode"
A very annoying issue I've noticed recently and that is present in all the recent builds (at least on the N4, don't know about other devices):

If I have navigation rings enabled, and I switch to landscape mode, the rings are still triggered when swiping from the bottom, even if the navbar is now on the right (notice that they also trigger (correctly) if swiping from the right, but they also do fr

[2015-07-20 22:06] eurochild-dps commented on #19
@Altaf-Mahdi
source: http://forum.xda-developers.com/showpost.php?p=61938664&postcount=396

Regarding Lollipop no longer revert back to 'System App' and cleanup 'User App' when an app (with same versionCode) is present on both /system and /data partition.
What this mean on Lollipop is installed newer gapps via Play Store, flashing tk-gapps (or equivalent) later.
You will ended-up having two copies

[2015-07-21 09:20] eurochild-dps commented on #19
propably not the cause as it seems when reading replies on the gapps thread

[2015-07-21 19:28] vikky1912 opened #36 "Whats App does not work over mobile data"
Whats App does not work over mobile data in the following rom:

Euphoria-OS-1.1-shamu-OFFICIAL-20150701.zip
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150701.zip

[2015-07-21 19:42] dsmitty166 commented on #36
This is an app problem I'm assuming, or you need to clean flash

[2015-07-21 19:45] dsmitty166 commented on #36
I just installed it, working fine for me

[2015-07-21 19:48] vikky1912 commented on #36
i did a clean flash, but i am same issue 20150701 and above rom version..

[2015-07-21 19:54] dsmitty166 commented on #36
Did you restore apps after the flash?

Like I said, I just installed it. Working fine.

Can you explain what's not working, how to reproduce it? You have given very little detail

[2015-07-21 20:09] vikky1912 commented on #36
1.Whats app is not able connect to internet over mobile data: i am not able to send any messages
2.It works fine over wifi
3.i did a clean flash re installed rom,  re installed whatsapp, cleared cache, issue persisits.
4.I did the testing for following rom:
   Euphoria-OS-1.1-shamu-OFFICIAL-20150628.zip
   Euphoria-OS-1.1-shamu-OFFICIAL-20150630.zip
   Euphoria-OS-1.1-shamu-OFFICIAL-20150701.zip
5

[2015-07-21 20:14] vikky1912 commented on #36
Other than whats app i am able to access internet over every other app.

It might be something related to carrier settings. I did go through change log i did not find anything related to this change.

[2015-07-21 21:52] tarockx commented on #36
Your carrier might simply be blocking it.
One way to find out : flash stock rom and try.

[2015-07-22 14:21] keilunsoftware opened #37 "Privacy Guard settings disappeared with last update 20150718"
Steps to reproduce it:
Flash ROM 20150701 - fresh install.
Update to 20150718 - Privacy Guard advanced options disappear (see attached screenshot for the "disappear" meaning).
![screenshot_2015-07-22-16-18-18](https://cloud.githubusercontent.com/assets/10826741/8827552/aba96622-308d-11e5-88e8-b3485879553b.png)

[2015-07-25 05:32] dexmc commented on #37
Its just you. Do a clean flash of 0718.

[2015-07-25 05:32] #37 closed, assigned to nobody

[2015-07-25 05:33] #36 closed, assigned to nobody

[2015-07-25 05:35] dexmc commented on #35
confirmed on the nexus 6 as well. Good find.

[2015-07-25 05:37] dexmc commented on #34
yes, init.d isnt functioning as expected.

[2015-07-25 05:46] #6 closed, assigned to dsmitty166

[2015-07-25 05:48] #15 closed, assigned to Altaf-Mahdi

[2015-07-27 10:31] prxy commented on #29
happened in my nexus 4 too(stock/hellscore and clean flash)

[2015-07-29 08:13] vded commented on #5
Hello guys, any progress to this matter? :)

[2015-08-05 10:56] ghost commented on #29
Same for Nexus4. Bootanimation not changing if choose one from a theme on Nexus4
Clean flash and everething stock

[2015-08-05 20:49] vded commented on #5
Downloaded and tested today's update (5th August). Wow, this issue has been resolved!! Thank you so much!! Now all the tones work perfectly! Tested with Facebook's and Facebook's Messenger super short notification tones and can be heard from first second. :+1:

[2015-08-05 20:59] dsmitty166 commented on #5
Awesome. Not sure that it was intentionally fixed anywhere, but I'm glad to know that it is!!

[2015-08-06 16:18] tungmeister commented on #5
The issue is still present when switching to loud speaker on a call.

[2015-08-18 01:53] chenshaoju opened #38 "YUV color space is breakdown in 1.1-mako-OFFICIAL-20150815"
Sorry for my English.

Device:Google Nexus 4
Version:1.1-mako-OFFICIAL-20150815
Kernel:3.4.0-Mako Euphoria-OS@Nexus4 #1
Application:VLC 1.3.2 https://play.google.com/store/apps/details?id=org.videolan.vlc&hl=en

Repetition of steps:
1.Put any MP4 (H264) file in SD storage
2.Download and Install VLC
3.Startup VLC
4.Go to Settings in VLC
5.Hardware acceleration -> Decoding acceleration (If use Full

[2015-08-18 02:44] chenshaoju commented on #38
After reboot phone,This issue has disappeard.
Probably is a accident.
I well keep looking.
Sorry for disturb.

[2015-08-18 02:44] #38 closed, assigned to nobody

[2015-08-19 15:57] zhou13 commented on #5
I do not know whether my problem is as same as this.  The first 0.5 second of nexus after a long idle is abnormal.  Sometime it is missing.  Sometime it is prolonged.  I am on nexus 6.

[2015-08-26 14:38] doggpound007 opened #39 "Phone reboots randomly"
I performed a dirty flash to the latest version the day after it came out.  Since then the phone has rebooted randomly three times.  Twice while using trillian and then one other time.  Any ideas.

[2015-08-28 15:14] ecydiacruz commented on #29
Same here on a nexus 6,clean flash as well.

[2015-08-28 15:19] ecydiacruz opened #40 "System UI crashes when trying to edit navigation ring targets"
My system I crashes on my nexus 6 running the latest nightly when I try to edit the navigation ring targets.

[2015-08-28 15:24] ecydiacruz opened #41 ""Sleep loop" during chromecat session"
My nexus 6 goes into a strange "sleep loop"  ie: screen goes dark and then light up again.

This happens when I'm chrome casting something and accidentally hit the power button causing the screen to turn off.   It also happens when the the screen times out automatically.

The only way to remove from this is a reboot.

I'm running the latest build on a nexus 6.

[2015-08-31 13:49] ozzab opened #42 "facebook and google app crashes randomly"
no xposed

Your device: nexus 6 32 gb international

Which ROM version are you using?
2015.08.11 version
http://euphoria-os.ninja/download.php?file=Nexus%206/Nexus%206%20Builds/Euphoria-OS-1.1-shamu-OFFICIAL-20150811.zip

What kernel are you using - included in the ROM

What steps will reproduce the problem?
its random. ive experienced only in facebook and google app. on facebook ive experienced t

[2015-08-31 14:04] ecydiacruz commented on #42
Because it happens in only those 2 apps I would say that it's app related.   In the case of facebook uninstall and reinstall and if the problem still persists contact the app developer.

In the google app have you wiped data?  If not, do so and try to reproduce the problem again.

[2015-09-01 02:59] mitchelldavis44 commented on #39
What phone?  Also, always do a clean flash before reporting anything.

[2015-09-01 11:20] doggpound007 commented on #39
Thanks Mitch.  This is an LG G3 from Verizon.  My brother has the same phone and reports the same thing.  He has switched roms as a result.  My rebooting happens so randomly it can happen 4 times a day or once every 2 days.  For now I will keep this rom and hope the update fixes it.  Thanks.

From: Mitch Davis [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 10:59 PM
To: Euphoria-OS

[2015-09-06 20:21] AndropaX opened #43 "Systemui.apk compile error"
This commit probably break compile
https://github.com/Euphoria-OS-Legacy/android_frameworks_base/commit/5acaa8e5a616a097d2072f79803f73524f5d7166

frameworks/base/packages/SystemUI/src/com/android/systemui/statusbar/AppSidebar.java:442: error: cannot find symbol
            intent.addFlags(Intent.FLAG_FLOATING_WINDOW);
                                  ^
  symbol:   variable FLAG_FLOATING_WINDOW

[2015-09-07 07:31] Thaodan commented on #42
Got the same issue, Facebook ver is 45.0.0.23.146

[2015-09-07 18:52] #43 closed, assigned to nobody

[2015-09-09 08:52] ghost opened #44 "Default SMS app isnt working as expected"
Default SMS app isnt working as expected

Clean install on Nexus4 + tk gapps

To reproduce bug try to send SMS with default Euporia OS app and tap to add user icon ..and just nothing happens ...
In the normal way , tapping on add user icon, it  must open userlist from address book ..

![screenshot_2015-09-09-12-43-15](https://cloud.githubusercontent.com/assets/10342482/9757403/7f9b411a-56f1-11e5-8

[2015-09-11 12:14] eurochild-dps opened #45 "Themes app not displaying correctly"
Euphoria hammerhead

![screenshot_2015-09-11-08-24-40](https://cloud.githubusercontent.com/assets/7645326/9814542/9e1b162c-5897-11e5-9f8b-1559089eb7da.png)

Cm12.1 latest nightly

![screenshot_2015-09-11-10-32-54](https://cloud.githubusercontent.com/assets/7645326/9814571/ca10b53e-5897-11e5-925e-ab443af6fa97.png)

[2015-09-13 00:10] rapedrix opened #46 "Themes app doesn't starting"
![screenshot_2015-09-13-02-09-46](https://cloud.githubusercontent.com/assets/14254806/9834516/d26a0f98-59bc-11e5-88df-ab91932766ee.png)
Every time I try to open the app, it crashes, im in Moto G 2013 using EuphoriaOS 5.1.1 20150904

[2015-09-13 20:10] dsmitty166 commented on #46
Have you done a clean flash? If not I will be closing this, this is probably a one off

[2015-09-20 09:54] rapedrix commented on #46
Yes, i did the full wipe (system, data, cache and dalvik cache) and i flashed the rom and gapps like 2 times and the theme engine didnt worked .

[2015-10-20 04:05] antuong12c2 opened #47 "Trebuchet Launcher, can't update grid size"
Hi Team, with Trebuchet Launcher, i can't update grid size, i think it can be freezed. Please fixed it in next time. Tks﻿

[2015-11-06 06:32] pfederighi commented on #39
Do you use Xposed framework? No
Your device: Nexus 4 (mako)

Which ROM version are you using? https://www.androidfilehost.com/?fid=24052804347834015

What kernel are you using? Currently using:HellsCore http://renderserver.net/devs/hellsgod/hells-Core-N4/hC-b83.5-L.zip .  This issue also occurs with the stock kernel and the Taurus kernel https://www.androidfilehost.com/?fid=24052804347838539 .  I

[2015-11-06 17:26] dequadim opened #48 "Echo with Bluetooth earpiece."
Euphoria OS on Galaxy S4 (GT-I9505)
https://basketbuild.com/filedl/devs?dev=Fabio-San&dl=Fabio-San/S4_I9505_Euphoria/Euphoria-OS-1.1-jfltexx-OFFICIAL-20151004.zip
Default kernel.

If I call someone or someone calls me and I use a BT earpiece, the user "on the other side of the line" who's talking with me is affected by a unpleasant echo of his voice.
I've tried decreasing either earpiece and telep

[2015-11-18 04:06] pfederighi commented on #39
Do you use Xposed framework? No
Your device: Nexus 4 (mako)

Which ROM version are you using? https://www.androidfilehost.com/?fid=24052804347834015

What kernel are you using? Currently using:HellsCore http://renderserver.net/devs/hellsgod/hells-Core-N4/hC-b83.5-L.zip . This issue also occurs with the stock kernel and the Taurus kernel https://www.androidfilehost.com/?fid=24052804347838539 . I ha

[2017-01-31 05:00] #44 closed, assigned to nobody

[2017-09-29 17:10] #22 closed, assigned to Altaf-Mahdi